/* * {
    outline: 1px solid red !important;
   } */

body {
    background-color:black;
    height: 100%;
    width: 100%;
    }

.headpic {
    width: 66%;
    height: 120px;
    margin-left: 17%;
    }

.main {
    border-style: solid;
    border-color: white;
    border-width: 1px;
    height: 800px;
    }
.guess {
    border-bottom-style: solid;
    border-color: white;
    border-width: 1px;
}
.split1 {
    border-width: 1px;
    border-right-color: white;
    border-right-style: solid;
    height: 600px;
    }

#guessword {
    color:white;
    font-family: 'Press Start 2P', cursive; 
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    /* border-right-style: solid;
    border-color: white;
    border-width: 1px;
    border-left-style: solid;
    border-bottom-style: solid; */
}

#lettersguessed
{
    color:white;
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
    margin: 10px;
}

#alreadyguessed
{
    color:white;
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
    margin: 10px;
}

#message {
    color:white;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    /* border-right-style: solid;
    border-color: white;
    border-width: 1px;
    border-left-style: solid;
    border-bottom-style: solid; */
}

#stats {
    color:white;
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
    margin: 10px;
}

#stats2 {
    color:white;
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
    margin: 10px;
    /* border-color: white;
    border-width: 1px;
    border-top-style: solid; */
}
#hint {
    color:white;
    height: 50px;
    background-color: red;
    font-family: 'Press Start 2P', cursive;
    margin-left: 65%;
    margin-top: 10px;
}

#guesses {
    color:white;
    font-family: 'Press Start 2P', cursive;
}

#start {
    height: 60px;
    width: 60px;
}

#hangman {
    margin-top: 10px;
    height: 450px;
    width: 100%; 
}

#character {
    height: 300px;
    width: 100%;
}

h1 {
    font-family: 'Bungee Inline', cursive;
    color:white;
    text-align: center;
    border-bottom-style: solid;
    border-color: white;
    border-width: 1px;
}